/* Herbs.css */

/* Container */
.foods-container {
    /* padding: 0 32px !important;  */
    max-width: 100% !important; 
    /* margin: 0 auto; */
  }
  
  /* Title */
  .foods-title {
    font-weight: bold !important;
    color: #1b064a !important;
    text-align: center !important;
    margin-bottom: 30px !important; /* Reduced margin */
    font-size: 2.2rem !important; /* Adjusted font size */
  }
  