/* Privacy Policy Main Container */
.privacy-policy-container {
  padding: 60px !important;
  width: 100% !important;
  margin-top: 90px !important;
}

.privacy-intro {
  margin-bottom: 80px !important;
}
.section-title{
  font-size: 20px !important;
  color: #fff !important;
}
.privacy-main-title {
  font-size: 40px !important;
  font-weight: bold !important;
  color: #1b064a !important;
  text-align: center !important;
}

.accordion-main-container {
  padding: 0 20px !important;
}

.privacy-title {
  font-size: 40px !important;
  font-weight: bold !important;
  color: #1b064a !important;
  text-align: start !important;
}
.policy-desc-conatiner{
  display: flex !important;
  flex-direction: column !important;
}

.privacy-descr {
  font-size: 20px !important;
  width: 95% !important;
  color: #333 !important;
}

.privacy-intro .privacy-image {
  width: 100% !important;
  height: 70vh !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  margin-bottom: 0px !important;
  padding: 30px !important;
}

.header {
  font-weight: bold !important;
  color: #16ac5f !important;
  text-transform: none !important;
  margin-bottom: 20px !important;
}

.contact-info {
  margin-top: 30px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.left-container,
.right-container {
  padding: 10px !important;
}

.accordion {
  background-color: #f9f9f9 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  margin-bottom: 10px !important;
  transition: all 0.3s ease-in-out !important;
}

.accordion:hover {
  transform: scale(1.02) !important;
}

/* Accordion Summary */
 .accordion .MuiAccordionSummary-root {
  background-color: #1b064a !important;
  color: white !important;
  border-radius: 8px !important; 
} 

/* Accordion Content */
.accordion .MuiAccordionDetails-root {
  background-color: white !important;
  color: #333 !important;
  border-radius: 0 0 8px 8px !important;
  padding: 15px !important;
}

/* Responsive Design */
@media screen and (max-width: 900px) {
  .privacy-policy-container {
    padding: 20px !important;
  }

  .privacy-title {
    font-size: 37px !important;
    text-align: center !important;
  }

  .privacy-descr {
    padding: 20px !important;
    font-size: 20px !important;
    text-align: center !important;
    width: 100% !important;
  }

  .privacy-intro .privacy-image {
    height: auto !important;
  }

  .header {
    font-size: 1.8rem !important;
  }

  .contact-info {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .privacy-policy-container {
    padding: 15px !important;
  }

  .privacy-title {
    font-size: 30px !important;
    text-align: center !important;
  }

  .privacy-descr {
    font-size: 17px !important;
  }

  .privacy-intro .privacy-image {
    height: auto !important;
  }

  .header {
    font-size: 1.3rem !important;
  }

  .contact-info {
    font-size: 0.9rem !important;
  }

  .accordion {
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 400px) {
  .privacy-policy-container {
    margin-top: 80px !important;
    padding: 10px !important;
  }

 .header {
    margin-bottom: 0 !important;
    font-size: 1.3rem !important;
  }

  .MuiTypography-h2.privacy-main-title {
    font-size: 26px !important;
    font-weight: bold !important;
    margin-top: 15px !important;
  }

  .MuiTypography-h5.privacy-title {
    font-size: 29px !important;
    text-align: center !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding:  0 !important;
  }

  .accordion-main-container {
    padding: 0 10px !important;
  }

  .MuiTypography-body1.privacy-descr {
    font-size: 18px !important;
    text-align: start !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .MuiGrid-root.privacy-intro {
    margin-bottom: 0px !important;
  }

  .privacy-intro .privacy-image {
    height: auto !important;
    width: 90% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

 

  .contact-info {
    font-size: 1rem !important;
  }

  .left-container,
  .right-container {
    padding: 0px !important;
  }

  .MuiAccordion-root.accordion {
    margin-bottom: 8px !important;
    padding: 0px !important;
  }
 

.section-title{
    font-size: 1rem !important;
    color: #f9f9f9 !important;
    padding: 0px !important;
  }

}