/* Privacy Policy Main Container */
.privacy-policy-container {
  padding: 30px !important;
  width: 100% !important;
  margin-top: 70px !important;
}

.privacy-intro {
  margin-bottom: 80px;
  
}
.privacy-main-title {
  font-size: 40px !important;
  font-weight: bold !important;
  color: #1b064a !important;
  text-align: center !important; /* Center align title */
}

.accordion-main-container{
  padding: 0px 20px !important;
}
.privacy-title {
  font-size: 40px !important;
  font-weight: bold !important;
  color: #1b064a !important;
  text-align: start !important; /* Center align title */
}

.privacy-descr {
  font-size: 20px !important;
 width: 95% !important;
}

.privacy-intro .privacy-image {
  width: 90%;
  height: auto; /* Make image responsive */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px !important;
  padding: 30px !important;
}

.header {
  font-weight: bold !important;
  color: #16ac5f;
  text-transform: none !important;
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 30px !important;
  font-weight: bold !important;
  text-align: center; /* Center align contact info */
}

.left-container,
.right-container {
  padding: 10px;
}

.accordion {
  background-color: #f9f9f9 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.accordion:hover {
  transform: scale(1.02);
}

/* Accordion Summary */
.accordion .MuiAccordionSummary-root {
  background-color: #1b064a !important;
  color: white !important;
  border-radius: 8px !important;
}

/* Accordion Content */
.accordion .MuiAccordionDetails-root {
  background-color: white !important;
  color: #333 !important;
  border-radius: 0 0 8px 8px !important;
  padding: 15px !important;
}


/* Responsive Design */
@media screen and (max-width: 900px) {
  .privacy-policy-container {
    padding: 20px !important;
  }

  .privacy-title {
    font-size: 37px !important;
    text-align: center !important;
  }

  .privacy-descr {
    padding: 20px !important;
    font-size: 20px !important;
    text-align: center !important;
    width: 100% !important;
  }

  .privacy-intro .privacy-image {
    height: auto;
  }

  .header {
    font-size: 1.8rem;
  }

  .contact-info {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .privacy-policy-container {
    padding: 15px !important;
  }

  .privacy-title {
    font-size: 30px !important;
    text-align: center !important;
  }

  .privacy-descr {
    font-size: 17px !important;
  }

  .privacy-intro .privacy-image {
    height: auto;
  }

  .header {
    font-size: 1.3rem !important;
  }

  .contact-info {
    font-size: 0.9rem;
  }

  .accordion {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 400px) {
  .privacy-policy-container {
    margin-top: 80px !important;
    padding: 10px  !important;
  }
  .header{
    margin-bottom: 0 !important;
  }
  .privacy-main-title{
    font-size: 26px !important;
  }
  .privacy-title {
    font-size: 26px !important;
    text-align: center !important;
  }
  .accordion-main-container{
    padding: 0px 10px !important;
  }
  .privacy-descr {
    font-size: 19px !important;
    text-align: start !important;
    width: 100% !important;
  }
  .privacy-intro {
    margin-bottom: 10px;
    
  }
 
  .privacy-intro .privacy-image {
    height: auto;
    width: 90% !important;
  margin: 0 !important;
  padding: 0 !important;
  }

  .header {
    font-size: 1.2rem !important;
  }

  .contact-info {
    font-size: 0.8rem !important;
  }

  .left-container,
  .right-container {
    padding: 5px;
  }

  .accordion {
    margin-bottom: 8px;

  }
}