/* Cart Container */
.cartContainer {
  width: 100% !important;
  max-width: 100% !important;
  margin-top: 60px !important;
  padding: 30px !important;
  justify-self: center !important;

}

.cartTitle {
  text-align: center !important;
  margin-bottom: 20px !important;
  font-weight: bold !important;
  color: #2E7D32 !important;
}
.left-containet{
  width: 90% !important;
}
.right-containet{
  width: 90% !important;
}
.cart-main-conatiner {
  display: flex !important;
 justify-content: space-around !important;
  gap: 100px !important;
}

/* Cart Item Styling */
.cartItem {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 10px !important;

}

.cartItemImage {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover !important;
  border-radius: 8px !important;
}

.cart-price-q {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  gap: 40px !important;
}

.cartItemDetails {
  flex: 1 !important;
  padding: 0 10px !important;
}

.cartItemName {
  font-weight: bold !important;
}

.cartItemPrice {
  font-weight: bold !important;
  color: #2E7D32 !important;
}

/* Cart Summary Styling */
.cartSummary {
  width: 100% !important  ;
  border: 1px solid #ddd !important;
  padding: 20px !important;
  border-radius: 8px !important;
  background: #f9f9f9 !important;
}

.couponCodeInput {
  flex: 1 !important;
}

.applyCouponButton {
  white-space: nowrap !important;
}

.paymentMethodSelect {
  width: 100% !important;
}

.totalAmount {
  font-weight: bold !important;
}

/* Buttons Styling */
.continueShoppingButton {
  border-color: #2E7D32 !important;
  color: #2E7D32;
}

.continueShoppingButton:hover {
  background: #2E7D32 !important;
  color: #fff;
}

.checkoutButton {
  background: #2E7D32 !important;
  color: #fff;
}

.checkoutButton:hover {
  background: #1B5E20 !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cartContainer{
    width: 100% !important;
    margin-top: 80px !important;
    padding: 10px !important;
  }
  .cart-main-conatiner {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .cartTitle{
    margin-bottom: 5px !important;
  }
  .left-containet{
    width: 100% !important;
  }
  .right-containet{
    width: 100% !important;
  }

  .cartItem {
    display: flex !important;
   align-items: center !important;
   justify-content:  center !important;
   
  }

  .cartSummary {
    width: 100% !important;
  }
  .continueShoppingButton{
    text-transform: capitalize !important;
    font-size: 1rem !important;
    border: none !important;
    color: #fff !important;
    background-color: #2E7D32 !important;
  }
  
  .checkoutButton {
    text-transform: capitalize !important;
    font-size: 1rem !important;
  }
  
}
