
.auth-dialog .MuiDialog-paper {
  padding: 20px;
  border-radius: 12px;
  background: #f4f1e9;
}

.auth-title {
  text-align: center;
  color: #4a773c;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* .auth-dialog .MuiDialog-paper {
  width: 550px; 
  max-width: 90%; 
} */


.auth-input .MuiOutlinedInput-root {
 
  border-radius: 8px;
  width: 250px !important;
}

.auth-button {
  background-color: #4a773c !important;
  color: white;
  font-weight: bold;
  padding: 10px 0;
}

.auth-close {
  margin-top: 10px;
}

.auth-toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: #4a773c;
}
