.auth-dialog .MuiDialog-paper {
  padding: 20px;
  border-radius: 12px;
  background: #f4f1e9;
  width: 100%;
  max-width: 450px; /* Adjusts max width for different screen sizes */
}

.auth-title {
  text-align: center;
  color: #4a773c;
  font-size: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.auth-input {
  width: 100% !important; /* Ensures full width in form */
  margin-top: 10px !important;
}

.auth-input .MuiOutlinedInput-root {
  border-radius: 8px;
}

.auth-button {
  background-color: #4a773c !important;
  color: white;
  font-weight: bold;
  padding: 12px 0;
  width: 100%;
}

.auth-close {
  margin-top: 10px;
}

.auth-toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: #4a773c;
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 600px) {
  .auth-dialog .MuiDialog-paper {
    max-width: 100% !important;
    padding: 0px !important;
    
  }

  .auth-title {
    font-size: 1.3rem !important;
  }

  .auth-button {
    padding: 10px 0 !important;
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
    margin-bottom: 15px !important;
  }
  .auth-close{
    font-size: 1rem !important;
    font-weight: bold !important;
  }

  .auth-toggle {
    font-size: 0.85rem !important;
  }
}
